/data/
datapacks/
defaultconfigs/
downloads/
fancymenu_data/
local/
logs/
modernfix/
mods/
resourcepacks/
saves/
shaderpacks/
.curseclient
manifest.json
minecraftinstance.json
modlist.html
rhino.local.properties
usercache.json
usernamecache.json
!kubejs/data/
screeshots/
emi.json
cachedImages/
crash-reports/
worldedit/
screenshots/2025-12-21_02.53.39.png
screenshots/2025-12-21_02.54.43.png
screenshots/2025-12-21_02.55.57.png
screenshots/2025-12-21_02.56.03.png
screenshots/2025-12-21_02.56.35.png
screenshots/2025-12-22_00.41.31.png
screenshots/panorama_2025-12-22_17.27.29/panorama_0.png
screenshots/panorama_2025-12-22_17.27.29/panorama_1.png
screenshots/panorama_2025-12-22_17.27.29/panorama_2.png
screenshots/panorama_2025-12-22_17.27.29/panorama_3.png
screenshots/panorama_2025-12-22_17.27.29/panorama_4.png
screenshots/panorama_2025-12-22_17.27.29/panorama_5.png
alexsmobs_spawms.zip
sounds.json
.gitignore
config/emi.css
