mods/
data/
datapacks/
defaultconfigs/
downloads/
fancymenu_data/
local/
logs/
modernfix/
resourcepacks/
saves/
screenshots/
shaderpacks/
!kubejs/data/
config/packetfixer.properties
config/fabric/indigo-renderer.properties
config/sound_physics_remastered/occlusion.properties
config/sound_physics_remastered/reflectivity.properties
usercache.json
minecraftinstance.json
options.txt
emi.json
crash-reports/
config/sound_physics_remastered/reflectivity.properties
config/sound_physics_remastered/occlusion.properties
config/fabric/indigo-renderer.properties
.DS_Store
manifest.json 
minecraftinstance.json 
modlist.html 
rhino.local.properties  
usernamecache.json
