.curseclient
/data/
defaultconfigs/
fancymenu_data/
local/
logs/
mods/
moonlight-global-datapacks/
resourcepacks/
saves/
datapacks/
screenshots/
emi.json
manifest.json
minecraftinstance.json
modlist.html
rhino.local.properties
servers.dat
servers.dat_old
user-prefs.json
usercache.json
usernamecache.json
shaderpacks/
modernfix/
downloads/
crash-reports/